.flex-template {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-weight: bold;
}

.grid-template {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr 1fr;
  padding: 0.5em;
  gap: 1em;
}

/*vänstra sidan:*/

.grid-template-left {
  grid-column: 1;
  border-right: 0.15em orange solid;
}

.rubrik-left {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  grid-column: 2;
  height: 100%;
}

.fruit-left {
  grid-column: 2;
  grid-row: 2;
  width: 75%;
  margin: 0 auto;
  border-radius: 50%;
  padding: 1.5em;
}

.balloon-left {
  grid-column: 2;
  grid-row: 3;
  width: 33%;
  margin: 0 auto;
}

.plate-left {
  grid-column: 2;
  grid-row: 4;
  width: 28%;
  margin: 0 auto;
}

div.balloon-left {
  display: grid;
  align-items: center;
}
div.plate-left {
  display: grid;
  align-items: center;
}

.left-description {
  background-color: #e2eed9;
  grid-column: 1;
  grid-row: 2 / 5;
  font-size: 1.48em;
  padding: 0.5em;
  border-radius: 0.3em;
}

.left-description-text h4 {
  margin: 1em 0 0 0;
}

.left-description-text h3 {
  margin: 0;
  text-align: center;
}

/*Högra sidan:*/

.grid-template-right {
  grid-column: 2;
  border-left: 0.15em orange solid;
}

.rubrik-right {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  grid-column: 1;
  height: 100%;
}

.fruit-right {
  grid-column: 1;
  grid-row: 2;
  width: 75%;
  margin: 0 auto;
  border-radius: 50%;
  padding: 1.5em;
}

.balloon-right {
  grid-column: 1;
  grid-row: 3;
  width: 33%;
  margin: 0 auto;
  display: grid;
  align-items: center;
}

.plate-right {
  grid-column: 1;
  grid-row: 4;
  width: 28%;
  margin: 0 auto;
  display: grid;
  align-items: center;
}

.right-description {
  background-color: #e2eed9;
  grid-column: 2;
  grid-row: 2 / 5;
  font-size: 1.48em;
  padding: 0.5em;
  border-radius: 0.3em;
}

.right-description-text h4 {
  margin: 1em 0 0 0;
}

.right-description-text h3 {
  margin: 0;
  text-align: center;
}
